<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.com.almogrubi.idansasson.gettix">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".GetTixApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.ManagementActivity"
            android:label="@string/title_activity_management"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.EventsActivity"
            android:label="@string/title_activity_events"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.ManagementActivity">
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <data android:scheme="mailto" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.EventEditActivity"
            android:label="@string/event_edit_title"
            android:parentActivityName=".activities.EventsActivity" />
        <activity
            android:name=".activities.EventOrdersActivity"
            android:label="@string/title_activity_event_orders"
            android:parentActivityName=".activities.EventsActivity" />
        <activity
            android:name=".activities.HallsActivity"
            android:label="@string/halls_button"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.ManagementActivity" />
        <activity
            android:name=".activities.HallEditActivity"
            android:label="@string/hall_edit_title"
            android:parentActivityName=".activities.HallsActivity" />
        <activity
            android:name=".activities.ReportsActivity"
            android:label="@string/reports_button"
            android:parentActivityName=".activities.ManagementActivity" />
        <activity
            android:name=".activities.EventDetailsActivity"
            android:label="@string/title_activity_detail"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.NoSeatsActivity"
            android:label="@string/title_activity_no_seats"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.EventDetailsActivity" />
        <activity
            android:name=".activities.SeatsActivity"
            android:label="@string/title_activity_seats"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.EventDetailsActivity" />
        <activity
            android:name=".activities.PaymentActivity"
            android:label="@string/title_activity_payment" />
        <activity android:name=".activities.ConfirmationActivity" />

        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://idansass" />

        <service
            android:name=".services.CancelOrderJobService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
    </application>

</manifest>